openapi: 3.0.0
info:
  description: >-
    Access token API contains the endpoints to issue JWT access token from
    Azure AD. Vipps merchant APIs access is authorized against this access
    token. Clients should get the access token from this service and use it in the
    'authorization' header of the request while calling the business services.
    The access token is valid for 1 hour in the test environment and 24 hours in the production environment.
  version: 1.0.0
  title: Access Token
tags:
  - name: Authorization Service
    description: Authorization Service
servers:
  - url: https://apitest.vipps.no
  - url: https://api.vipps.no
paths:
  /accesstoken/get:
    post:
      tags:
        - Authorization Service
      summary: Fetch the JWT authorization token
      parameters:
        - name: client_id
          in: header
          description: >-
            The `client_id` is available on portal.vipps.no, under the 'Utvikler' tab.
          required: true
          schema:
            type: string
            format: guid
          example: fb492b5e-7907-4d83-ba20-c7fb60ca35de
        - name: client_secret
          in: header
          description: >-
            The `client_secret` is available on portal.vipps.no, under the 'Utvikler' tab.
            Keep it secret.
          required: true
          schema:
            type: string
          example: Y8Kteew6GE2ZmeycEt6egg==
        - name: Ocp-Apim-Subscription-Key
          in: header
          description: >-
            The subscription key for the authorization token is available on portal.vipps.no, under the 'Utvikler' tab.
            Keep it secret.
          required: true
          schema:
            type: string
          example: 0f14ebcab0ec4b29ae0cb90d91b4a84a
      description: >-
        The accesstoken endpoint is used to get the JWT (JSON Web Token) that
        must be passed in every API request in the `Authorization` header.
        The access token is a base64-encoded string value that must be
        acquired first before making any Vipps API calls.
        The access token is valid for 1 hour in the test environment
        and 24 hours in the production environment.
      operationId: fetchAuthorizationTokenUsingPost
      responses:
        "200":
          description: OK
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: "#/components/schemas/AuthorizationTokenResponse"
        "400":
          description: Bad request (Missing a required parameter or bad request format)
        "401":
          description: Unauthorized
        "500":
          description: Something went wrong from Vipps Server side

components:
  schemas:
    AuthorizationTokenResponse:
      type: object
      required:
        - token_type
        - expires_in
        - ext_expires_in
        - expires_on
        - not_before
        - resource
        - access_token
      properties:
        token_type:
          type: string
          description: String containing the type for the Access Token.
          example: Bearer
        expires_in:
          type: integer
          description: Token expiry time in seconds.
          example: 3600
        ext_expires_in:
          type: integer
          description: Extra time added to expiry time. Currently disabled.
          example: 3600
        expires_on:
          type: integer
          description: Token expiry time in epoch time format.
          example: 1547823408
        not_before:
          type: integer
          description: Token creation time in epoch time format.
          example: 1547819508
        resource:
          type: string
          description: A common resource object. Not used in token validation
          example: 00000002-0000-0000-c000-000000000000
        access_token:
          type: string
          format: byte
          example: "eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1Ni..."
