openapi: 3.0.0
info:
  description: >-
    Vipps Access Token API contains the endpoints to issue JWT access token from
    Azure AD. Vipps merchant APIs access is authorized against this access
    token. Clients should get the access token from this service and use it in the
    'authorization' header of the request while calling the business services.
    The access token is valid for 1 hour in the test environment and 24 hours in the production environment.
  version: 1.0.0
  title: Vipps Access Token
  contact: {}
  tags:
    - name: Authorization Service
      description: Authorization Service
  servers:
    - url: https://apitest.vipps.no
    - url: https://api.vipps.no
paths:
  /accesstoken/get:
    post:
      tags:
        - Authorization Service
      summary: Fetch authorization token
      parameters:
        - name: client_id
          in: header
          description: Client id is located in the [developer
            portal](https://apitest-portal.vipps.no/). Navigate to the
            ```Applications``` tab and click the ```View secrets``` button to
            display the client id. See the [getting started
            guide](https://github.com/vippsas/vipps-developers/blob/master/vipps-developer-portal-getting-started.md)
            for full guide with images.
          required: true
          schema:
            type: string
            format: guid
        - name: client_secret
          in: header
          description: Client secret is located in the [developer
            portal](https://apitest-portal.vipps.no/). Navigate to the
            ```Applications``` tab and click the ```View secrets``` button to
            display the client id. See the [getting started
            guide](https://github.com/vippsas/vipps-developers/blob/master/vipps-developer-portal-getting-started.md)
            for full guide with images.
          required: true
          schema:
            type: string
        - name: ocp-apim-subscription-key
          in: header
          description: The subscription-key for authorization token is located in the
            [developer portal](https://apitest-portal.vipps.no/). Click the
            username to the right on the page and select ```Profile``` from the
            dropdown. The ```DEFAULT_ACCESSTOKEN``` key is the value for
            subscription-key. See the [getting started
            guide](https://github.com/vippsas/vipps-developers/blob/master/vipps-developer-portal-getting-started.md)
            for full guide with images.
          required: true
          schema:
            type: string
      description: Authorization token API endpoint helps to get the JWT Bearer token that
        needs to be passed in every API request in the authorization header. The
        merchant application use the API to get a JWT access token. JWT access
        token is a base 64 encoded string value that must be aquire first before
        making any Vipps api calls
      operationId: fetchAuthorizationTokenUsingPost
      responses:
        "200":
          description: OK
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: "#/components/schemas/AuthorizationTokenResponse"
        "400":
          description: Bad request (Missing a required parameter or bad request format)
        "401":
          description: Unauthorized
        "402":
          description: Payment Failed
        "403":
          description: Request Forbidden
        "404":
          description: Resource Not Found
        "405":
          description: Request method not supported
        "415":
          description: Unsupported media type
        "500":
          description: Something went wrong from Vipps Server side

components:
  schemas:
    AuthorizationTokenResponse:
      type: object
      required:
        - token_type
        - expires_in
        - ext_expires_in
        - expires_on
        - not_before
        - resource
        - access_token
      properties:
        token_type:
          type: string
          description: String containing the type for the Access Token.
          example: Bearer
        expires_in:
          type: integer
          description: Token expiry time in seconds.
          example: 3600
        ext_expires_in:
          type: integer
          description: Extra time added to expiry time. Currently disabled.
          example: 3600
        expires_on:
          type: integer
          description: Token expiry time in epoch time format.
          example: 1547823408
        not_before:
          type: integer
          description: Token creation time in epoch time format.
          example: 1547819508
        resource:
          type: string
          description: A common resource object. Not used in token validation
          example: 00000002-0000-0000-c000-000000000000
        access_token:
          type: string
          format: byte
          example: eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1Ni 
